body {
  padding-top: 50px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.em-text{
	color:#1caa98 !important;
}

.col-md-4{
	margin-bottom: 10px;
}
.jumbotron{
	background: url(../img/showcase_jumbotron.jpeg) repeat;
	color:#fff;
	/*height: 500px;*/
	overflow: none;
	font-size: 25px;
}
.jumbotron img.app-btn{
	width:40%;
	margin-right: 30px;
}
.jumbotron img.app-mobi-btn{
	/*width:80%;
	height: 80%;*/

}

.jum_header{
	text-align: center;
}

section{
 padding: 40px 0 40px 0;	
}

 img.img_demo{
	width:100%;
	padding:5px 0px 5px 30px;
	border: 1px solid #ccc;
}

section#feature{
	background: #1caa98;
	color:#fff;
	padding: 40px;
	overflow: none;
}

section#feature ul{
	margin: 0px;
	padding:0px;
}

section#feature ul li{
	font-size: 22px;
	list-style: none;
	line-height: 2.0em;
}

footer{
	background: #333;
	color:white;
	padding: 20px 0 20px 0;
}

footer li{
	float: left;
	padding: 0 10px 0 10px;
	list-style: none;
}

footer a{
	color:#fff;
}
footer p{
	float:right;
}

section#title-bar{
	height:80px;
	background: #1caa98;
	color:#fff;
	padding: 0px;
	margin: 0px;

}

section#title-bar h1{
	float:left;
	padding-top: 20px;
}


/* Media queries*/
@media(max-width: 1200px){
	
}

@media(max-width: 991px){

}

@media(min-width: 768px) and (max-width: 990px){


}

@media(max-width: 768px) {
	img.app-mobi-btn{
		display: none !important;

}

	.jumbotron h1{
		margin-top;10px;
	}
}

@media(max-width: 500px) {
	img.app-mobi-btn{
		display: none !important;

	}
	img.app-btn{
	width:30% !important;
	margin-right: 10px;
}

.jumbotron{
	font-size: 18px !important;
}

section#feature ul li{
	font-size: 18px !important;
}
footer p{
	float: none !important;
	text-align: center !important;
}
footer ul{
	float:none !important;
	text-align: center !important;
	list-style: none;
	margin-left: 5px;
}

}