.row{
 margin:0 !important;
}
img.logo_img{
  

}
.header{
  background: #1caa98;
  color: #fff;
}
header {
  float: right;
}
header ul li{
list-style: none;
float: right;
line-height: 2em;
padding-right: 15px;
font: bold;
}

header ul li a{
color: #fff;
font: bold;
}

.col-md-12{
  text-align: center;
}


.header p{
  font-size: 18px;
}

section#graph{
  margin:50px 0 50px 0;
  padding-bottom: 50px;
}

section#feature {
  text-align: center;
  
}
section#feature p{
  font-weight:bold;
  text-align: center;

}

section#develop{
  margin: 0 0 50px 0;
  padding-bottom: 50px;
}

section#content{
  margin-top: 50px;
}
.media{
  margin: 50px 0 50px 0;

}

.media-left h4{
  color: #1caa98;
  font-weight: bold;
}

.parensay h2{
  color: #1caa98;
  margin-bottom: 50px;


}

img.line{
  width: 100%;
}

section#parent .media-body{
	background: #fff;
 }
section#parent h4{
font-weight: bold;
}

footer ul{
  margin: 0;
  padding: 0;
}
footer ul li{
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

footer ul li a{
  color: #1caa98;
}

footer h3{
  color: #1caa98;
  padding-bottom: 3px;
}

section#parent {

}

.parent_info{
	background: #ededed;
}

/* Carousel */

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}
/* MEDIA QUERIES */

@media(min-width: 1200px){
  .jumbotron img.showcase-img{
  width:61%;
  margin:5px 0 0 40px;
}
}

@media(max-width: 991px){
  .showcase-img{
    display:none;
  }
}

@media(min-width: 768px) and (max-width: 990px){
  .jumbotron img.app-btn{
    width:30%;
  }

  .jumbotron{
    height:400px !important;
    background-size:100% 100%;
  }

  .jumbotron h1{
    margin-top:10px;
  }
}

@media(max-width: 768px){
  .jumbotron{
    height:350px !important;
    background-size:100% 100%;
  }

  .jumbotron h1{
    margin-top:10px;
  }
}

@media(max-width: 500px){
  .jumbotron{
    height:450px !important;
    background-image:none;
    text-align: center;
  }

  .jumbotron img.app-btn{
    width:60%;
    margin:0 auto 30px auto;
    display:block;
  }

  section#feature ul li{
    font-size: 19px !important;
  }

  footer p{
    float:none;
    text-align: center;
    padding-top:20px;
  }

}